<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../partials/head', { title: '메인 페이지'}) %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>

  <main>
    <p>메인</p>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>